/*@import url('https://fonts.googleapis.com/css2?family='Red Hat Display'&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

:root {
  --blue: #011347; /*#00313c  1, 19, 71*/
  --light-blue: #f0f8ff; /*#00afd7 rgb(240, 248, 255)*/
  --gray: #efefef;
}

body {
  margin-top: 30px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(240, 248, 255)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: 56px;
}


h1, h2, h3, h4 {
  font-family: 'Red Hat Display', sans-serif;
  color:  var(--blue);
}

h1 {
  margin: 40px 0;
  font-size: 3em;
  font-weight: 700;
  display: block;
}

.cs-icon{
  height:  100px;
  width:  100px;
  margin-right:  20px;
  background-color: var(--blue);
  background-image: url('../imgs/cyber-security.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius:  50%;
  display: inline-block;
}

.container {
  background-color: #fff;
  border-bottom-right-radius: 40px;
  padding:  100px;
}

.score {
  display: inline-block;
  width: 35px;
  text-align: right;
}

.player {
  padding: 5px 10px;
  margin-right: 10px;
}

.name:hover {
  cursor: pointer;
}

.name {
  border-bottom: var(--light-blue) 2px dashed;
   width: 180px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
   height: 30px;
}

.score {
  margin:0 10px;
  font-size: 1.2em;
  font-weight: 700;
  background-color: var(--light-blue);
  padding: 0 5px;
}

button {
  border-radius: 30px;
  background-color: var(--blue);
  color: #fff;
  border: none;
}

.btn-cs {
  padding: 5px 15px;
  margin: 15px 0;
}

#add-player {
  padding: 5px 10px;
}

.player button {
  height: 30px;
  width: 30px;
  margin: 0 5px 0 0;
  text-align: center;
}

#players {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 20px;
}

#chooser-panel {
  background-color: var(--gray);
  padding: 30px 40px;
}

#time-display {
  font-size: 2em;
}

/*modal*/
.modal-body {
  font-size:  2.5em;
}